<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      eDITH
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="getShoppingLists()"><ion-icon name="sync"></ion-icon></ion-button>
      <ion-button (click)="showSettings()">
        <ion-icon name="construct" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" *ngIf="!!shopplingLists && !!shopplingLists.length">

    <div *ngFor="let list of shopplingLists">
      <ion-list>
        <!-- HEADER -->
        <ion-header>{{ list.planned_for }}</ion-header>

        <!-- LISTS -->
        <ion-item-sliding *ngIf="!!list.items.length">
          <ion-item *ngFor="let item of list.items">
            <ion-label>
              {{ item.name }}
            </ion-label>
            <ion-note slot="end" color="primary">
              {{ item.amount }}
            </ion-note>
          </ion-item>
        </ion-item-sliding>

        <!-- NO ITEMS -->
        <div *ngIf="!list.items.length">
          No items
        </div>
      </ion-list>
    </div>
  </div>

  <!-- NO LISTS -->
  <div class="ion-padding" *ngIf="!shopplingLists || !shopplingLists.length">
    <ion-text color="warning">
      <b>No shopping lists</b>
    </ion-text>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>
      eDITH - The door to jARVIS
    </ion-title>
  </ion-toolbar>
</ion-footer>