<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      eDITH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" *ngIf="!!shopplingLists.length">

    <div *ngFor="let list of shopplingLists">
      <ion-list>
        <!-- HEADER -->
        <ion-header>{{ list.planned_for }}</ion-header>

        <!-- LISTS -->
        <ion-item-sliding *ngIf="!!list.items.length">
          <ion-item *ngFor="let item of list.items">
            <ion-label>
              {{ item.name }}
            </ion-label>
            <ion-note slot="end" color="primary">
              {{ item.amount }}
            </ion-note>
          </ion-item>
        </ion-item-sliding>

        <!-- NO ITEMS -->
        <div *ngIf="!list.items.length">
          No items
        </div>
      </ion-list>
    </div>
  </div>

  <!-- NO LISTS -->
  <div class="ion-padding" *ngIf="!shopplingLists.length">
    <ion-text color="danger">
      No shopping lists
    </ion-text>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      jARVIS - availability
    </ion-title>

    <div slot="secondary">
      <ion-icon name="checkmark-circle" slot="primary" color="success" *ngIf="!!isJarvisAvailable"></ion-icon>
      <ion-icon name="close-circle" slot="primary" color="danger" *ngIf="!isJarvisAvailable"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>